<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../Minecraft Spigot Server/server.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/../../../Minecraft Spigot Server/server.jar!/" />
    </SOURCES>
  </library>
</component>